<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/menu %>

<div class="container-fluid bg-3">    
  <div class="app-label"><%= page %></div>
  <div class="app-body">
    <ul class="app-list">
      <%for (var i in messages){%>
      <li>
        	<a href="<%= messages[i]['link'] %>"><strong><%= messages[i]['title'] %></strong></a>
        	<div><%= messages[i]['desc'] %></div>
          <div>Location: <%- messages[i]['location'] %></div>
        </li>
      <%}%>
    </ul>
  </div>
</div>

</body>
<% include ../partials/script %>
</html>